/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

/* VARIABLES CSS */
:root {
	/* Primary colors */
	--cyan: hsl(179, 62%, 43%);
	--bright-yellow: hsl(71, 73%, 54%);

	/* Neutral colors */
	--light-gray: hsl(204, 43%, 93%);
	--grayish-blue: hsl(218, 22%, 67%);
}

/* BASIC SETTINGS */
*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: "Karla", sans-serif;
	font-size: 1.6rem;
	background: var(--light-gray);
}
li {
	list-style: none;
}

/* ===================== MAIN CSS - DESKTOP FIRST =============== */
section {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-grid {
	max-width: 635px;
	height: 435px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	-webkit-box-shadow: 0px 0px 29px 4px rgba(152, 166, 189, 0.57);
	box-shadow: 0px 0px 29px 4px rgba(152, 166, 189, 0.57);
	border-radius: 1rem;
}
.grid-item1 {
	background-color: #fff;
	grid-area: 1 / 1 / 2 / 3;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	padding: 3.5rem;
}
.grid-item2 {
	background-color: var(--cyan);
	grid-area: 2 / 1 / 3 / 2;
	border-bottom-left-radius: 1rem;
	padding: 3.5rem;
	color: #fff;
}
.grid-item3 {
	background-color: rgb(74, 190, 189);
	grid-area: 2 / 2 / 3 / 3;
	border-bottom-right-radius: 1rem;
	padding: 3.5rem;
}

/* Grid item 1 - Join our community */
.grid-item1 h2 {
	color: var(--cyan);
	padding-bottom: 2rem;
}
.grid-item1 h3 {
	color: var(--bright-yellow);
	margin-bottom: 1.5rem;
}
.grid-item1 p {
	color: var(--grayish-blue);
}

/* Grid item 2 - Monthly subscription */
.grid-item2 h4 {
	font-size: 1.8rem;
}
.grid-item2 .price {
	display: flex;
	align-items: center;
	margin-top: 1.5rem;
}
.grid-item2 .price span {
	font-size: 3rem;
	margin-right: 1rem;
	font-weight: 400;
}
.grid-item2 .price p {
	opacity: 0.8;
}
.grid-item2 #access {
	margin-top: 0.7rem;
}
.grid-item2 button {
	border: none;
	outline: none;
	cursor: pointer;
	background-color: var(--bright-yellow);
	color: #fff;
	border-radius: 0.5rem;
	padding: 1.5rem 0;
	width: 100%;
	margin-top: 2.5rem;
	-webkit-box-shadow: 0px 0px 29px 4px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 5px 20px 4px rgba(0, 0, 0, 0.25);
}

/* GRID ITEM 3 - Why us */
.grid-item3 h4 {
	font-size: 1.8rem;
	color: #fff;
}
.grid-item3 ul {
	margin-top: 2rem;
	font-size: 1.3rem;
}
.grid-item3 li {
	line-height: 1.8rem;
	color: var(--light-gray);
}

/* ================= MEDIA QUERIES / RESPONSIVE MOBILE ================= */
@media only screen and (max-width: 680px) {
	section {
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.card-grid {
		max-width: 85%;
		height: 710px;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}
	.grid-item1 {
		grid-area: 1 / 1 / 2 / 2;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
		padding: 3rem;
	}
	.grid-item2 {
		grid-area: 2 / 1 / 2 / 2;
		border-bottom-left-radius: 0;
		padding: 3rem;
	}
	.grid-item3 {
		grid-area: 3 / 1 / 3 / 3;
		border-bottom-right-radius: 1rem;
		border-bottom-left-radius: 1rem;
		padding: 3rem;
	}

	/* Grid item 1 - Join our community */
	.grid-item1 h2 {
		color: var(--cyan);
		padding-bottom: 2rem;
		font-size: 2rem;
	}
	.grid-item1 h3 {
		color: var(--bright-yellow);
		margin-bottom: 1.5rem;
		font-size: 1.5rem;
	}
	.grid-item1 p {
		color: var(--grayish-blue);
		font-size: 1.3rem;
		line-height: 2.3rem;
	}

	.grid-item3 ul {
		margin-top: 2rem;
		font-size: 1.4rem;
	}
	.grid-item3 li {
		line-height: 2.1rem;
		color: var(--light-gray);
	}
}
